// @import '/src/styles.scss'; // caminho absoluto ao arquivo atual
// @import '../../styles.scss'; // caminho relativo ao arquivo atual
// @import '../../styles/variables.scss'; // caminho relativo ao arquivo atual
@import 'variables.scss'; // usando variaveis definidas no arquivo _variables.scss


.card-button-cancel {
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    border-radius: 25px;
    background-color: $bgColor;
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
}